body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.6;
    margin-top: 30px;
    background-color: #f5f5f5;
}
nav{
    margin-left: 800px;
    display:flex;
    gap: 10%;
}
a:link{
    color: darkgreen;
}
a:visited{
    color:rgb(30, 58, 1);
}
a:hover{
    color: rgb(132, 208, 55);
}
.rows{
    display:flex;
    gap:20px;
}
.box1,.box2,.box3,.box4{
    border:1px solid gray;
    margin-bottom:3%;
    width: 570px;
    height: auto;
    border-radius: 20px;
    
}
figure img{
    width: 500px;
    height: 450px;
    margin: 0 auto;
    display: block;
    border-radius: 50px;
    

}
img+figcaption{
    margin-top: 10px;
}
.buttons{
    color: azure;
    background-color: darkgreen;
    margin-left: 250px;
}
.first{
    font-size: 30px;
    margin-bottom: 20px;
    margin-top: 20px;
    text-align: center;
    color: rgb(19, 109, 19);
    font-weight: bolder;
}
.second{
    border: 1px solid green;
    border-radius: 20px;
    padding: auto;
    text-align: center;
    font-size: large;
}